<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню</title>
    <style>
        body {
            background-color: rgb(97, 92, 92); 
        }
    </style>
</head>
<body>
    <p align="center"> ДОБРО ПОЖАЛОВАТЬ НА ЭТОТ САЙТ</p>
    <ul>
        <li><a href="/MyOffice">Личный кабинет</a></li>
        <li><a href="/Products">Товары</a></li>
        <li><a href="/News">Новинки</a></li>
        <img src="static/Key.jpg", width="120">
        
        
    <ul>
</body>
</html>