<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} Новости {% endblock %}</title>
    <style>
        body {
            background-color: rgb(145, 200, 218); 
        }
    </style>
</head>
<body>
    <p align = "center">ДОБРО ПОЖАЛОВАТЬ В НОВОСТИ!</p>
    <ul>
        <li><a href="/News/Promo">Акции</a></li>
        <li><a href="/News/Announcements">Анонсы</a></li>
    <ul>
<p align = "center">
    <del>Есть бесплатные товары</del>
</p>
    <li><a href="/">Вернуться на главную страницу</a></li>
</body>
</html>